# Created by .ignore support plugin (hsz.mobi)
### React Native with TypeScript ###
node_modules/
ios/Pods/
ios/build/
ios/Podfile.lock
android/.gradle/
android/app/build/
android/local.properties
android/captures/
dist/
metro-config.json
tsconfig.tsbuildinfo
